body {
	margin: 0;
}

#sectionA {
	background: blue;
	width: calc(100% / 3);  /* con calc es mucho más exacto */
}
#sectionB {
	background: red;
	width: calc(100% / 3);
}
#sectionC {
	background: green;
	width: calc(100% / 3);
}

.container {
	display: flex;
}
