/* your code here */
.wrapper {
	font-size: 20pt;
	margin-left: auto;  /*centrado*/
	margin-right: auto;
	width: 90%;
}

header {
	margin-top: 20px;
	margin-bottom: 20px;
}

nav {
	float: left;
	margin-right: 1%;
	width: 19%;
}

section {
	margin-left: 1%;
	float: right;
	width: 79%;
}
/**************************************
DON'T CHANGE ANYTHING AFTER THIS LINE
**************************************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	border-radius: 3px;
}

header {
	padding: 10px 0;
}

nav,
section {
	padding: 100px 0;
}
